.main__div-botao-personagens {
    display: flex;
    justify-content: center;
}

.botaoPersonagens {
    margin: 40px 10px;
}

#draken {
    display: none;
}

#draken:target {
    display: block;
}

#eve {
    display: none;
}

#eve:target {
    display: block;
}

#ryon {
    display: none;
}

#ryon:target {
    display: block;
}

.main__figure-personagens {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div__main-botaoEscolha {
    display: flex;
    justify-content: center;
}

.botaoEscolha {
    margin: 30px 0;
}

.main__div-personagens-h2 {
    text-align: center;
    margin: 0 auto;
}

.main__div-personagens-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__div-personagens-img {
    width: 30%;
    margin-left: 20px;
}

.main__div-personagens-ul {
    margin-right: 30px;
}

.main__div-personagens-ul-li {
    list-style: none;
    margin: 20px 20px;
    font-size: 1.5em;
    text-align: center;
    font-family: var(--courier);
    font-weight: bold;
}


/* MODAL */
/* Add animation (Chrome, Safari, Opera) */
@-webkit-keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}
  
/* Add animation (Standard syntax) */
@keyframes example {
    from {top:-100px;opacity: 0;}
    to {top:0px;opacity:1;}
}

/* The modal's background */
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Display the modal when targeted */
.modal:target {
    display: table;
    position: absolute;
}

/* The modal box */
.modal-dialog {
    display: table-cell;
    vertical-align: middle;
}

/* The modal's content */
.modal-dialog .modal-content {
    margin: auto;
    background-color: #f3f3f3;
    position: relative;
    padding: 0;
    outline: 0;
    border: 1px #777 solid;
    text-align: justify;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    /* Add animation */
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 0.5s;
}

/* The button used to close the modal */
.closebtn {
    text-decoration: none;
    float: right;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
}

.closebtn:hover,
.closebtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.container {
    padding: 2px 16px;
}