body {
    overflow-x: hidden;
}

.main__section{

}

.main__h1 {
    margin: 20px 0;
    text-align: center;
    font-size: 30px;
    font-family: var(--montagu);
}

.main__div {
    margin: 0 30px;
}

.main__div p {
    font-size: 20px;
    text-align: center;
}

.main__h2 {
    text-align: center;
}

.main__h3 {
    text-align: center;
    margin: 20px 0 10px 0;
}

.social {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__h6 {
    margin-right: 20px;
    font-size: 16px;
}

.main__ul {
    display: flex;
}

.main__li {
    list-style: none;
    margin: 10px;
}

.img_linkedin, .img_github {
    width: 20px;
    height: 20px;
}

@media screen and (max-width: 700px) {
    body {
        overflow-x: hidden;
        min-height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .main__section{
        height: 70vh;
        margin: 2%;
    }

    .main__h1 {
        font-size: 18px;
    }

    .main__h2 {
        font-size: 16px;
    }

    .main__div p {
        font-size: 14px;
    }
    
    .main__h3 {
        margin: 5px 0 5px 0;
    }

}