<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_draken.css">
        <title>Escolha Final - Draken</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/alvesarah">Github</a></li>
            </ul>
        </header>

        <audio autoplay controls loop>
            <source src="../../trilha_sonora/musica_triste.mp3">
        </audio>

        <main class="main">
            <div class="background_escolhaFinal">
                <div class="teste_maior">
                    a
                </div>
                <section class="main__section tamanho_maior">
                    <p class="main__pUm-escolhaFinal animacao">Preciso impedi-la de me acertar, quando ela avança com o punho em minha direção, a puxo pelo braço e dou um soco nela</p>
                    <p class="main__pUmCont-escolhaFinal animacao">e ela cai inconsciente em cima de mim.</p>

                    <p class="main__pDois-escolhaFinal animacao">- Me desculpe. - Sussurro enquanto me levanto e a deixo deitada no canto da sala. - Agora somos só eu e você.</p>

                    <p class="main__pTres-escolhaFinal animacao">Levanto meu olhar o encontrando, começamos uma guerra de poderes e no final eu consigo roubar seu poder, pois </p>
                    <p class="main__pTresCont-escolhaFinal animacao">minha habilidade é mais rápida de usar do que a dele.</p>

                    <p class="main__pQuatro-escolhaFinal animacao">Enquanto ainda o encaro, tento romper as barreiras para entrar em sua mente. É difícil no começo pois sua barreira </p>
                    <p class="main__pQuatroCont-escolhaFinal animacao">mental é muito forte e tenho que me esforçar para faze-lo, acabo me enfraquecendo para conseguir entrar e me apoio </p>
                    <p class="main__pQuatroContDois-escolhaFinal animacao">em uma parede próxima.</p>

                    <p class="main__pCinco-escolhaFinal animacao">O forço a pegar a arma que está em sua cintura e aponto ela para sua cabeça, seu corpo está retesado e ele treme tentando </p>
                    <p class="main__pCincoCont-escolhaFinal animacao">resistir o controle, isso me enfraquece ainda mais pois sua barreira ainda está tentando se levantar.</p>

                    <p class="main__pSeis-escolhaFinal animacao">Caio de joelhos e começo a tossir, sinto gosto de sangue na minha boca mas continuo usando o controle mental contra ele.</p>

                    <p class="main__pSete-escolhaFinal animacao">- Draken? - Eve acordou e está me olhando confusa.</p>
                    <a class="continuar" href="./escolhaFinalCont_draken.html">clique aqui para continuar</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>