<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_draken.css">
        <title>Escolha Final - Draken</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <audio autoplay controls loop>
            <source src="../../trilha_sonora/musica_triste_parte_dois.mp3">
        </audio>

        <main class="main">
            <div class="background_escolhaFinalCont">
                <div class="teste_maior_ainda">
                    a
                </div>
                <section class="main__section tamanho_maior_ainda">
                    <p class="main__pOito-escolhaFinal animacao">Ryon dá uma risada de escarnio e volto a encara-lo, ele ainda resiste ao controle e cada vez fica mais difícil</p>
                    <p class="main__pOitoCont-escolhaFinal animacao">conseguir dar um fim nele.</p>

                    <p class="main__pNove-escolhaFinal animacao">- O que está fazendo? - Eve grita rastejando em minha direção.</p>

                    <p class="main__pDez-escolhaFinal animacao">- E-eu preciso mata-lo. - Digo e tusso mais sangue.</p>

                    <p class="main__pOnze-escolhaFinal animacao">- Você não vai só mata-lo, você vai morrer também! - Ela diz com lágrimas nos olhos.</p>

                    <p class="main__pDoze-escolhaFinal animacao">- Me desculpe, você me salvou quando me fez entender que eu podia fazer o que eu quisesse,  quando me deu uma razão</p>
                    <p class="main__pDozeCont-escolhaFinal animacao">para viver. Você é a razão, se você morresse, não faria sentido eu continuar vivo. Eu te amo, quero que viva muito</p>
                    <p class="main__pDozeContDois-escolhaFinal animacao"> ainda e que não demore muito para me superar. Vamos nos encontrar novamente. - Digo sorrindo, sinto um gosto salgado</p>
                    <p class="main__pDozeContTres-escolhaFinal animacao"> nos lábios e me dou conta que estou chorando, passo a mão por seus cabelos e olho bem para o seu rosto, para que eu não</p>
                    <p class="main__pDozeContQuatro-escolhaFinal animacao">consiga esquece-lo mesmo depois da morte. para viver. Você é a razão, se você morresse, não faria sentido eu continuar</p>
                    <p class="main__pDozeContCinco-escolhaFinal animacao"> vivo. Eu te amo, quero que viva muito ainda e que não demore muito para me superar. Vamos nos encontrar novamente. - Digo</p>
                    <p class="main__pDozeContSeis-escolhaFinal animacao">sorrindo, sinto um gosto salgado nos lábios e me dou conta que estou chorando, passo a mão por seus cabelos e olho bem</p>
                    <p class="main__pDozeContSete-escolhaFinal animacao"> para o seu rosto, para que eu não consiga esquece-lo mesmo depois da morte.</p>

                    <p class="main__pTreze-escolhaFinal animacao">O fato era que eu estava muito fraco e eu não sei se iria conseguir usar mais o controle de mente para matar Ryon.</p>

                    <p class="main__pQuatorze-escolhaFinal animacao">Então tomei a decisão...</p>

                    <div class="botaoEscolhas">
                        <p class="animacao">1 - Apagar memória de ambos e morrer.</p>

                        <p class="animacao">2 - Tentar matar Ryon e morrer.</p>
                    </div>
                    <button class="botaoEscolhas_button" onclick="escolhaFinal()">Responder</button>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
        <script src="../../js/personagem_draken.js"></script>
    </body>
</html>