<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_draken.css">
        <title>Fim - Draken</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/alvesarah">Github</a></li>
            </ul>
        </header>

        <audio autoplay controls loop>
            <source src="../../trilha_sonora/musica_triste_parte_tres.mp3">
        </audio>

        <main class="main">
            <div class="background_fim">
                <div class="teste_padrao">
                    a
                </div>
                <section class="main__section tamanho_padrao">
                    <p class="main__pUm-fim_draken animacao">Então tomei a decisão de apagar a memória dos dois, pois já estava muito fraco e não conseguia mais aguentar.</p>

                    <p class="main__pDois-fim_draken animacao">Com isso esperava que Ryon não se lembrasse que deveria mata-la e Eve não se lembraria de mim, então não sofreria e</p>
                    <p class="main__pDoisCont-fim_draken animacao">conseguiria seguir em frente.</p>

                    <p class="main__pTres-fim_draken animacao">- Eve, por favor, seja forte por mim. - Forcei as palavras a saírem de minha boca.</p>

                    <p class="main__pQuatro-fim_draken animacao">E com essa decisão tomada e suas últimas palavras, Draken caiu ao lado de sua garota, sem vida.</p>

                    <p class="main__pCinco-fim_draken animacao">Ainda apoiado na árvore ele termina de lembrar do "sonho" e se da conta de que aquilo não foi um sonho e que</p>
                    <p class="main__pCincoCont-fim_draken animacao">ele realmente estava morto.</p>

                    <p class="main__pSeis-fim_draken animacao">Mas seu coração estava calmo, pois conseguiu salvar quem mais amava e só isso importava para ele, então ele conseguiu</p>
                    <p class="main__pSeisCont-fim_draken animacao"> caminhar enfim para a luz no fim do túnel, e enquanto ele fazia isso, pensou uma última vez no rosto da única pessoa que </p>
                    <p class="main__pSeisContDois-fim_draken animacao">foi capaz de o amar exatamente do jeito que era, sem querer nada em troca.</p>
                    <a class="continuar" href="../escolha_personagem.html">Selecionar outro personagem</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>