<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_draken.css">
        <title>Introdução - Draken</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <audio autoplay loop controls id="playAudio">
            <source src="../../trilha_sonora/musica_suspense.mp3">
        </audio>

        <main class="main">
            <div class="background_introducao">
                <div class="teste_padrao">
                    a
                </div>
                <section class="main__section tamanho_padrao">
                    <p class="main__pUm-intro animacao">Um grito agudo, sangue no chão e uma respiração ofegante.</p>

                    <p class="main__pDois-intro animacao">Visão embaçada e um gosto salgado na boca.</p>

                    <p class="main__pTres-intro animacao">Essas são as últimas coisas que lembro antes de apagar.</p>

                    <p class="main__pQuatro-intro animacao">Tenho pensado muito nesses momentos e não consigo dizer se realmente aconteceu ou se é coisa da minha imaginação. Esses </p>
                    <p class="main__pQuatroCont-intro animacao">acontecimentos ficam rondando a minha cabeça com frequência e não consigo achar um significado para isso.</p>

                    <p class="main__pCinco-intro animacao">Acho que já passou da hora de procurar as respostas para esses sonhos.</p>
                    <a href="./primeiraFase_draken.html">clique aqui para continuar</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>
<script src="../../js/personagem_draken.js"></script>