<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_draken.css">
        <title>Primeira Fase - Draken</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <audio autoplay loop controls id="playAudio">
            <source src="../../trilha_sonora/musica_suspense.mp3">
        </audio>

        <main class="main">
            <div class="background_faseUm">
                <div class="teste_padrao">
                   aaaa
                </div>
                <section class="main__section tamanho_padrao">
                    <p class="main__pUm-faseUm animacao">Arregalo os olhos e puxo o ar para os meus pulmões, estou suado e ofegante e não consigo identificar onde estou. Minha cabeça </p>
                    <p class="main__pUmCont-faseUm animacao">está dando pontadas e quando levanto, tenho que me apoiar para não cair no chão.</p>

                    <p class="main__pDois-faseUm animacao">O ambiente está escuro e preciso forçar minha visão para enxergar algo, é como se eu estivesse em um túnel e tem dois caminhos.</p>

                    <p class="main__pTres-faseUm animacao">Se ando um pouco para a direita, vejo uma entrada de luz que pode ser uma provável saída e se vou para a esquerda, consigo ver </p>
                    <p class="main__pTresCont-faseUm animacao">uma porta de metal meio enferrujada, acredito que se forçá-la ela pode acabar cedendo.</p>

                    <p class="main__pQuatro-faseUm animacao">Eu escolho...</p>

                    <div class="botaoEscolhas">
                        <p class="main__pCinco-faseUm animacao">1 - Caminho da direita.</p> 
                        <p class="main__pSeis-faseUm animacao">2 - Caminho da esquerda.</p>
                    </div>

                    <button class="botaoEscolhas_button" onclick="faseUm()">Responder</button>
                </section>
            </div>
        </main>
        <script src="../../js/personagem_draken.js"></script>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>