<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_draken.css">
        <title>Segunda Fase - Draken</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <audio autoplay controls loop>
            <source src="../../trilha_sonora/bored_musica_calma.mp3">
        </audio>

        <main class="main">
            <div class="background_faseDois">
                <div class="teste_padrao">
                    a
                </div>
                <section class="main__section tamanho_padrao">
                    <p class="main__pUm-faseDois animacao">Eu escolho o caminho da esquerda, quando forço a porta de metal, ela abre com facilidade.</p>

                    <p class="main__pDois-faseDois animacao">Continuo seguindo o caminho e vejo trilhos de trem, os sigo e acabo saindo na estação da minha cidade.</p>

                    <p class="main__pTres-faseDois animacao">Em minha cabeça, memórias que me deixam feliz invadem minha cabeça sem permissão e acabo pensando nela.</p>

                    <p class="main__pQuatro-faseDois animacao">Quando entrei na escola de heróis, não tinha muitos amigos por não ser filho de heróis conhecidos, e também pelo fato de </p>
                    <p class="main__pQuatroCont-faseDois animacao">todos terem medo de minhas habilidades. Ela foi a única que tinha coragem de me olhar e passava tempo até demais fazendo isso, </p>
                    <p class="main__pQuatroContDois-faseDois animacao">acabou despertando meu interesse e eu falei com ela. Eu não diria que foi amor a primeira vista, mas depois de um tempo </p>
                    <p class="main__pQuatroContTres-faseDois animacao">conseguimos nos entender e simplesmente aconteceu.</p>

                    <p class="main__pSeis-faseDois animacao">O fato é que meu pai, um vilão famoso, me usava para causar caos e conseguir o que queria. Eu acabava sendo obrigado a fazer </p>
                    <p class="main__pSeisCont-faseDois animacao">tudo que ele mandava. Quando decidi fugir e seguir meu caminho com uma decisão impensada, acabei entrando na escola de</p>
                    <p class="main__pSeisContDois-faseDois animacao"> heróis e a encontrando.</p>

                    <a href="./segundaFaseCont_draken.html">clique para continuar</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>