<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_draken.css">
        <title>Segunda Fase - Draken</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <main class="main">
            <section class="main__section">
                
               <p class="main__pSeisSeparado-faseDois animacao">Ela me fez enxergar que eu não sou culpado pelas coisas que fiz e que posso fazer o que bem entender.</p>

                <p class="main__pSete-faseDois animacao">Imerso em pensamentos e sentindo a brisa do verão em meu rosto, penso nos próximos passos que devo seguir para que consiga </p>
                <p class="main__pSeteCont-faseDois animacao">entender esses sonhos e achar alguma conclusão que faça sentido.</p>

                <p class="main__pOito-faseDois animacao">Em alguns flashes que tive, o começo do sonho era tranquilo e ameno.</p>

                <p class="main__pNove-faseDois animacao">Eu estou em casa tomando banho pois tinha um encontro com Eve, me arrumo e saio de casa, sigo tranquilo o caminho para o </p>
                <p class="main__pNoveCont-faseDois animacao">restaurante e como cheguei 10 minutos antes, sento na praça para espera-la.</p>

                <p class="main__pDez-faseDois animacao">A partir dai, fica tudo embaçado e se me esforço para lembrar, minha cabeça dói tanto que sinto que vou desmaiar.</p>

                <p class="main__pOnze-faseDois animacao">Para que consiga me recordar o que aconteceu tenho o impulso de seguir o caminho...</p>

                <div class="botaoEscolhas">
                    <p class="main__pDoze-faseDois animacao">1 - Da casa dela.</p>

                    <p class="main__pTreze-faseDois animacao">2- Da praça onde eu estava a esperando.</p>
                </div>
                <button onclick="faseDois()">Escolha Personagem</button>
            </section>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
        <script src="../../js/personagem_draken.js"></script>
    </body>
</html>