<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_draken.css">
        <title>Terceira Fase - Draken</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <audio autoplay controls loop>
            <source src="../../trilha_sonora/musica_misterio.mp3">
        </audio>

        <main class="main">
            <div class="background_faseTresCont">
                <div class="teste_padrao">
                    a
                </div>
                <section class="main__section tamanho_padrao">
                    <p class="main__pSeis-faseTres animacao">Corro apressado para a casa dela e sua porta estava entreaberta escuto vozes  e não penso duas vezes antes de entrar na sua </p>
                    <p class="main__pSeisCont-faseTres animacao">casa.</p>

                    <p class="main__pSete-faseTres animacao">Tonteio para o lado com a mão na cabeça e aos poucos o sonho se torna claro.</p>

                    <p class="main__pOito-faseTres animacao">Ando pela praça e não paro de pensar em como esse sonho foi tão real como se fosse uma "lembrança".</p>

                    <p class="main__pNove-faseTres animacao">Sento no chão apoiando as costas em uma árvore afastada das demais pessoas e recobro meus pensamentos, volto a pensar</p>
                    <p class="main__pNoveCont-faseTres animacao"> no sonho, receoso em saber o final.</p>

                    <p class="main__pDez-faseTres animacao">...e não penso duas vezes antes de entrar em sua casa. Abro a porta com tudo e encontro Eve, sua bochecha tinha um corte</p>
                    <p class="main__pDezCont-faseTres animacao"> superficial e seus olhos brancos estavam estáticos, ela estava sentada no sofá e logo a frente, no meio da sala, vejo um </p>
                    <p class="main__pDezContDois-faseTres animacao">cara que está de costas para a entrada, seu cabelo é azul escuro e ele é um pouco mais alto que eu.</p>
                    <a href="./terceiraFaseContDois_draken.html">clique aqui para continuar</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>