<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_draken.css">
        <title>Terceira Fase - Draken</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <main class="main">
            <section class="main__section">
                <p class="main__pUm-faseTres animacao">Para que consiga me recordar o que aconteceu tenho o impulso de seguir o caminho da praça onde eu estava a esperando.</p>

                <p class="main__pDois-faseTres animacao">Chegando na praça, sento no banco que estava sentado no sonho e espero algo vir, mas nada acontece. Muitas pessoas estão </p>
                <p class="main__pDoisCont-faseTres animacao">no parque, andando para lá e para cá, imersos em suas próprias vidas.</p>

                <p class="main__pTres-faseTres animacao">Vejo um casal comendo no restaurante onde seria o encontro no meu sonho e tento forçar o pensamento mais uma vez para </p>
                <p class="main__pTresCont-faseTres animacao">ver se lembro algo desse encontro. Porém está tudo em branco. Literalmente.</p>

                <p class="main__pQuatro-faseTres animacao">Consigo lembrar um pouco mais do sonho e lembro que ela nunca chegou a ir nesse encontro e por isso fui atrás dela, esperei </p>
                <p class="main__pQuatroCont-faseTres animacao">por 30 minutos e como a casa dela era caminho desse parque que eu a esperava, fui até lá para apressa-la pois era impaciente </p>
                <p class="main__pQuatroContDois-faseTres animacao">e no fundo gostava de irrita-la.</p>

                <p class="main__pCinco-faseTres animacao">Chegando na esquina da casa dela, uma luz forte me cega por alguns instantes e quando retomo a visão me dou conta de que Eve </p>
                <p class="main__pCincoCont-faseTres animacao">estava usando seus poderes, mas por que?</p>

                <a href="./terceiraFaseCont_draken.html">aaaaaaa</a>
            </section>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>