<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_draken.css">
        <title>Terceira Fase - Draken</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/alvesarah">Github</a></li>
            </ul>
        </header>

        <audio autoplay controls loop>
            <source src="../../trilha_sonora/musica_misterio_parte_dois.mp3">
        </audio>

        <main class="main">
            <div class="background_faseTresContDois">
                <div class="teste_padrao">
                    a
                </div>
                <section class="main__section tamanho_padrao">
                    <p class="main__pOnze-faseTres animacao">- Quem é você? - Pergunto bruscamente fechando minhas mãos em punhos.</p>

                    <p class="main__pDoze-faseTres animacao"> O cara que está virado de costas se vira e eu fico surpreso com que eu vejo. Ele é Ryon Oshiro, meu melhor amigo de infância,</p>
                    <p class="main__pDozeCont-faseTres animacao"> nós compartilhávamos dores e fazíamos planos para conquistar o mundo. Quando fui para a escola de heróis, acabamos </p>
                    <p class="main__pDozeContDois-faseTres animacao">perdendo o contato pelo fato dele ser um vilão.</p>

                    <p class="main__pTreze-faseTres animacao">Estava estampado no rosto dele que também estava surpreso com minha aparição repentina.</p>

                    <p class="main__pQuatorze-faseTres animacao">- Draken? - Perguntou ainda incrédulo.</p>

                    <p class="main__pQuinze-faseTres animacao">- O que está fazendo na casa da minha namorada? - Pergunto rangendo os dentes, a surpresa já passou e a raiva retornava</p>
                    <p class="main__pQuinzeCont-faseTres animacao"> aos poucos.</p>

                    <p class="main__pDezesseis-faseTres animacao">- Eu preciso matá-la.- Aparentemente ele também não estava mais surpreso e estava em posição clara de ataque.</p>

                    <a class="continuar" href="./terceiraFaseContTres_draken.html">clique aqui para continuar</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>