<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_draken.css">
        <title>Terceira Fase - Draken</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/alvesarah">Github</a></li>
            </ul>
        </header>

        <audio autoplay controls loop>
            <source src="../../trilha_sonora/musica_misterio_parte_tres.mp3">
        </audio>

        <main class="main">
            <div class="background_faseTresContTres">
                <div class="teste_maior">
                    a
                </div>
                <section class="main__section tamanho_maior">
                    <p class="main__pDezesete-faseTres animacao">O ambiente estava hostil, parecia que Eve estava sendo controlada por ele e por isso se encontrava imóvel e nós estávamos</p>
                    <p class="main__pDezeseteCont-faseTres animacao"> no meio da sala um encarando o outro, esperando qualquer tipo de reação do oponente.</p>

                    <p class="main__pDezoito-faseTres animacao">- Não posso deixar você fazer isso, "irmão". - Respondi com os olhos fixos ao dele.</p>

                    <p class="main__pDezenove-faseTres animacao">- Você sumiu, não me deu noticias quando desapareceu, achei que você tinha morrido. Mas eu entendi, para começar uma vida</p>
                    <p class="main__pDezenoveCont-faseTres animacao">nova você tem que abandonar a antiga e isso também inclui me abandonar, certo? Agora tem uma vida nova com a garota </p>
                    <p class="main__pDezenoveContDois-faseTres animacao">perfeita, fico triste em ter que arruinar isso. - Enquanto ele fala, ele anda ao meu redor como se estivesse me avaliando, </p>
                    <p class="main__pDezenoveContTres-faseTres animacao">ele para atrás de mim e me viro para ele novamente, não perdendo o contato visual.</p>

                    <p class="main__pVinte-faseTres animacao">Sinto uma mão no meu ombro e quando me viro, encontro Eve ainda com os olhos imóveis, ela fecha a mão em punho e mira</p>
                    <p class="main__pVinteCont-faseTres animacao"> em meu rosto tentando soca-lo, desvio do soco ainda assustado e me dou conta de que ela estava sendo controlada para </p>
                    <p class="main__pVinteContDois-faseTres animacao">fazer aquilo.</p>

                    <p class="main__pVinteUm-faseTres animacao">Ela tenta dar mais investidas e quando estou distraído com um dos golpes, ela me acerta um chute forte eletrizado e acabo</p>
                    <p class="main__pVinteUmCont-faseTres animacao"> sendo arremessado no chão. Ainda no chão, ela vem em minha direção pronta para me socar, vejo que o punho dela está</p>
                    <p class="main__pVinteUmContDois-faseTres animacao"> emanando eletricidade e acabam soltando faíscas.</p>

                    <p class="main__pVinteDois-faseTres animacao">Preciso...</p>

                    <div class="botaoEscolhas">
                        <p class="animacao">1 - Impedi-la de me acertar.</p>

                        <p class="animacao" >2 - Tentar controlar Ryon com minha habilidade ocular de roubo de poder.</p>
                    </div>

                    <button class="botaoEscolhas_button" onclick="faseTres()">Responder</button>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
        <script src="../../js/personagem_draken.js"></script>
    </body>
</html>