<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_eve.css">
        <title>Escolha Final - Eve</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/alvesarah">Github</a></li>
            </ul>
        </header>

        <audio autoplay loop controls id="playAudio">
            <source src="../../trilha_sonora/musica_misterio.mp3">
        </audio>

        <main class="main">
            <div class="background_escolhaFinal">
                <div class="teste_maior_ainda">
                    a
                </div>
                <section class="main__section tamanho_maior_ainda">
                    <p class="um_escolhaFinal animacao">...pensar com clareza e ver se vale a pena correr o risco.</p>
                        
                    <p class="dois_escolhaFinal animacao">Eu sinto que preciso de tempo para pensar e organizar meus pensamentos sobre tudo que lembrei.</p>

                    <p class="tres_escolhaFinal animacao">Passo a noite em claro, chorando e lembrando de bons momentos que vivemos.</p> 

                    <p class="quatro_escolhaFinal animacao">Quando o sol começa a nascer, resolvo descansar um pouco pois estava exausta tanto física quando psicologicamente,</p>
                    <p class="quatroCont_escolhaFinal animacao">deito na cama e me reviro nos lençóis antes de finalmente cair no sono.</p>
                    
                    <p class="cinco_escolhaFinal animacao">...Vamos nos encontrar novamente.</p>
                    
                    <p class="seis_escolhaFinal animacao">Acordo assustada com o barulho da porta principal sendo aberta com um estrondo.</p>
                    
                    <p class="sete_escolhaFinal animacao">Me levanto em sinal de alerta e saio devagar do meu quarto com os punhos fechados e focada em concentrar a energia do</p>
                    <p class="seteCont_escolhaFinal animacao">meu poder.</p>
                    
                    <p class="oito_escolhaFinal animacao">Quando entro na sala eu o vejo sentado no sofá.</p>
                    
                    <p class="nove_escolhaFinal animacao">Ryon.</p>
                    
                    <p class="dez_escolhaFinal animacao">- Como você tem coragem de aparecer aqui depois do que você fez? - Pergunto rangendo os dentes, observando-o se levantar</p>
                    <p class="dezCont_escolhaFinal animacao">do sofá.</p>
                    
                    <p class="onze_escolhaFinal animacao">- Aparentemente você também se lembrou do que aconteceu. Eu tenho que admitir que te subestimei. - Ele disse andando em</p>
                    <p class="onzeCont_escolhaFinal animacao">minha direção.</p>

                    <a href="./escolhaFinalCont_eve.html">clique aqui para continuar</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>