<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_eve.css">
        <title>Escolha Final - Eve</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/alvesarah">Github</a></li>
            </ul>
        </header>

        <audio autoplay loop controls id="playAudio">
            <source src="../../trilha_sonora/musica_misterio_parte_tres.mp3">
        </audio>

        <main class="main">
            <div class="background_EscolhaFinalContDois">
                <div class="teste_maior">
                    a
                </div>
                <section class="main__section tamanho_maior">
                    <p class="dezesete_escolhaFinal animacao">Tento me mexer mas não consigo fazer nada, meu corpo começa a se mover e a chegar perto do dele. Quando me aproximo</p>
                    <p class="dezeseteCont_escolhaFinal animacao">o suficiente, ele coloca o dedo indicador no meu queixo e me faz olhá-lo nos olhos.</p>
                    
                    <p class="dezoito_escolhaFinal animacao">- Até que você não é de se jogar fora, pena que vou ter que te matar, quem sabe pudesse rolar algo entre nós se não fosse</p>
                    <p class="dezoitoCont_escolhaFinal animacao">por esse infortúnio. - Termina a frase tirando o dedo indicador de meu rosto e dando dois tapinhas no meu ombro.</p>
                    
                    <p class="dezenove_escolhaFinal animacao">Ele sai do meu campo de visão e volta com uma faca grande na mão, ele a aproxima do meu rosto e depois a desce para</p>
                    <p class="dezenoveCont_escolhaFinal animacao">os meus braços.</p>
                    
                    <p class="vinte_escolhaFinal animacao">- Eu fui instruído a te fazer sofrer um pouco antes de te matar, mas pode ficar tranquila, não vou estragar seu</p>
                    <p class="vinteCont_escolhaFinal animacao">rostinho de princesa.</p>
                    
                    <p class="vinteUm_escolhaFinal animacao">Ele faz um corte grande no meu braço e eu solto um  grunhido de dor, tento me mexer mas não consigo fazer nada. Sinto</p>
                    <p class="vinteUmCont_escolhaFinal animacao">mais cortes pelo meu braço e fecho os olhos por conta da dor.</p>
                    
                    <p class="vinteDois_escolhaFinal animacao">Eu...</p>
                    
                    <div class="botaoEscolhas">
                        <p class="vinteTres_escolhaFinal animacao">1 - Tento pensar em algo que me traga forças.</p>
                        
                        <p class="vinteTres_escolhaFinal animacao">2 - Tento me mexer.</p>
                    </div>

                    <button class="botaoEscolhas_button" onclick="escolhaFinal()">Responder</button>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
        <script src="../../js/personagem_eve.js"></script>
    </body>
</html>