<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_eve.css">
        <title>Escolha Final - Eve</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <audio autoplay loop controls id="playAudio">
            <source src="../../trilha_sonora/musica_misterio_parte_dois.mp3">
        </audio>

        <main class="main">
            <div class="background_escolhaFinalCont">
                <div class="teste_padrao">
                    a
                </div>
                <section class="main__section tamanho_padrao">
                    <p class="doze_escolhaFinal animacao">- Eu ia deixar essa história passar, mas como você fez o favor de vir até a minha residência, vamos resolver os assuntos</p>
                    <p class="dozeCont_escolhaFinal animacao">pendentes. - Digo dando um passo em sua direção, e o encarando ferozmente.</p>
                    
                    <p class="treze_escolhaFinal animacao">Meu corpo está todo eletrizado e não espero para dar a primeira investida nele de surpresa.</p>
                    
                    <p class="quatorze_escolhaFinal animacao">Levanto um dos meus punhos fechados e pego impulso para acerta-lo no rosto, o impacto é grande e por conta da eletrização,</p>
                    <p class="quatorzeCont_escolhaFinal animacao">ele voa longe batendo o corpo na parede.  Ele se levanta do chão e limpa o canto de sua boca que contém um pouco de sangue.</p>
                    
                    <p class="quinze_escolhaFinal animacao">- Isso é tudo que consegue fazer? - Ele pergunta dando um sorriso maquiavélico.</p>
                    
                    <p class="dezesseis_escolhaFinal animacao">Ranjo os dentes com força e vou para cima dele, porém meu corpo é travado no meio do caminho e consigo identificar que ele</p>
                    <p class="dezesseisCont_escolhaFinal animacao">está dentro de minha cabeça.</p>

                    <a href="./escolhaFinalContDois_eve.html">clique aqui para continuar</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>