<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_eve.css">
        <title>Fim - Eve</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <audio autoplay loop controls id="playAudio">
            <source src="../../trilha_sonora/musica_acao.mp3">
        </audio>

        <main class="main">
            <div class="background_fim">
                <div class="teste_maior">
                    a
                </div>
                <section class="main__section tamanho_maior">
                    <p class="um_fim animacao">... começo a pensar em algo que me faça criar uma barreira forte o suficiente para que ele não consiga me controlar,</p>
                    <p class="dois_fim animacao">e acabo pensando nele, seus olhos verdes, seu sorriso...</p>
                
                    <p class="tres_fim animacao">Lembro de seus últimos momentos, em como ele estava assustado, mas mesmo assim se mantinha forte, e em como ele não</p>
                    <p class="tresCont_fim animacao">queria me deixar sozinha.</p>

                    <p class="quatro_fim animacao">- Eve, seja forte, por mim.</p>

                    <p class="cinco_fim animacao">Tudo que ele fez foi para que eu não morresse, e aqui estou eu, tão patética!</p>
                    
                    <p class="seis_fim animacao">Estúpida!</p>
                    
                    <p class="sete_fim animacao">seja forte, por mim.</p>
                    
                    <p class="oito_fim animacao">seja forte, por mim.</p>
                    
                    <p class="nove_fim animacao">seja forte, por mim.</p>
                    
                    <p class="dez_fim animacao">Eu não posso morrer agora!</p>
                    
                    <p class="onze_fim animacao">Eu não sou frágil e muito menos fraca!</p>

                    <a href="./fimCont_eve.html">clique aqui para continuar</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>