<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_eve.css">
        <title>Fim - Eve</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <main class="main">
            <div class="background_fimCont">
                <div class="teste_maior_ainda">
                    a
                </div>
                <section class="main__section tamanho_maior_ainda">
                    <p class="doze_fim animacao">Abro os meus olhos e sinto as garrinhas dele em minha mente indo embora, olho para cima para encontrar seu olhar</p>
                    <p class="dozeCont_fim animacao">e meus olhos agora estão brilhando, eu estou tão determinada que sinto meu corpo completo pelo meu poder, vejo faíscas</p>
                    <p class="dozeContDois_fim animacao">saindo por todos os lados e as luzes da sala estourando.</p>
                    
                    <p class="treze_fim animacao">- Você vai pagar pelo que fez! - Digo sussurrando.</p>
                    
                    <p class="quatorze_fim animacao">Pego em seu pescoço e o levanto no ar, a atmosfera fica quente e cada vez mais clara, ele tenta tirar o aperto de minha</p>
                    <p class="quatorzeCont_fim animacao">mão em seu pescoço mas não consegue, o observo fritar de dentro para fora enquanto ele treme tentando evitar meu contato.</p>
                    
                    <p class="quinze_fim animacao">Eu não consigo mata-lo no final, eu não vou me rebaixar a esse ponto.</p>
                    
                    <p class="dezesseis_fim animacao">Tiro o aperto das mãos e o largo no chão.</p>
                    
                    <p class="dezesete_fim animacao">- Vai embora daqui! Não volte mais. - Digo com lágrimas nos olhos. Ele sai curvado e se apoiando nas paredes.</p>
                    
                    <p class="dezoito_fim animacao">Caio sentada no chão e dou um grito que expressa toda dor que estou sentindo, e assim meu poder explode iluminando todo</p>
                    <p class="dezoitoCont_fim animacao">o ambiente, logo se silenciando e deixando o cômodo escuro novamente.</p>
                    
                    <p class="dezenove_fim animacao">Finalmente isso acabou.</p>
                    
                    <p class="vinte_fim animacao">Agora preciso começar de novo, sem você.</p>
                    
                    <p class="vinteUm_fim animacao">Até nos encontrarmos novamente.</p>
                    <a href="../escolha_personagem.html">Selecionar outro personagem</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>