<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_eve.css">
        <title>Introdução - Eve</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <audio autoplay loop controls id="playAudio">
            <source src="../../trilha_sonora/musica_intro_eve.mp3">
        </audio>

        <main class="main">
            <div class="background_introducao">
                <div class="teste_menor">
                    a
                </div>
                <section class="main__section tamanho_menor">
                    <p class="um_intro animacao">Esses sonhos me assombram desde o dia que acordei no hospital, não consigo entender o porque de ver esse mesmo</p>
                    <p class="umCont_intro animacao">garoto, sendo que nunca o vi na vida.</p>

                    <p class="dois_intro animacao">Também tenho sonhos em que escuto pessoas discutindo, depois tenho a visão da minha sala e então eu acordo.</p>

                    <p class="tres_intro animacao">Estou cansada de só sonhar com isso e não conseguir entender o que de fato meu subconsciente quer dizer, vou</p>
                    <p class="tresCont_intro animacao">procurar entender o porque de tanto ter esses sonhos.</p>
                    
                    <a href="./primeiraFase_eve.html">clique aqui para continuar</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>