<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_eve.css">
        <title>Primeira Fase - Eve</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/alvesarah">Github</a></li>
            </ul>
        </header>

        <audio autoplay loop controls id="playAudio">
            <source src="../../trilha_sonora/musica_triste2.mp3">
        </audio>

        <main class="main">
            <div class="background_faseUm">
                <div class="teste_menor">
                    a
                </div>
                <section class="main__section tamanho_menor">
                    <p class="um_faseUm animacao">Acordo com o rosto molhado de lágrimas, tive mais um sonho, começo a pensar em como solucioná-los. Isso já está me</p>
                    <p class="umCont_faseUm animacao">deixando louca. Eles são tão reais que parece que realmente aconteceu.</p>

                    <p class="dois_faseUm animacao">Levanto da cama e ...</p>
                    
                    <div class="botaoEscolhasExt">
                        <p class="tres_faseUm animacao">1 - Começo a revirar meu quarto a procura de alguma coisa que seja familiar a algo que tenha visto no sonho.</p>
                        
                        <p class="tres_faseUm animacao">2 - Tento fechar os olhos e me esforçar para recordar algo do sonho.</p>
                    </div>

                    <button class="botaoEscolhas_button" onclick="faseUm()">Responder</button>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
        <script src="../../js/personagem_eve.js"></script>
    </body>
</html>