<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_eve.css">
        <title>Quarta Fase - Eve</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <main class="main">
            <div class="background_quartaFaseCont">
                <div class="teste_padrao">
                    a
                </div>
                <section class="main__section tamanho_padrao">
                    <p class="oito_faseQuatro animacao">Dia 30 de outubro, 2015</p>
                    
                    <p class="nove_faseQuatro animacao">Querido diário,</p>
                    
                    <p class="dez_faseQuatro animacao">Esse garoto é um completo idiota, hoje ele veio falar comigo. Você não vai acreditar o que ele disse!</p>
                    
                    <p class="onze_faseQuatro animacao">"Por acaso você perdeu alguma coisa na minha cara?"</p>
                    
                    <p class="doze_faseQuatro animacao">Exatamente isso! Agora não posso nem olhar mais, mas eu não deixei barato... Eu me estressei e dei um tapa nele. Mas logo</p>
                    <p class="dozeCont_faseQuatro animacao">depois disso ele deu risada. RI-SA-DA! E também falou algo como "gostei de você, baixinha."</p>
                    
                    <p class="treze_faseQuatro animacao">E até o final do dia ele ficou me seguindo de um lado para outro puxando altos assuntos comigo, agora eu não sei o que fazer!</p>
                    
                    <p class="quatorze_faseQuatro animacao">Você acha que eu devo fazer o que?</p>
                    
                    <div class="botaoEscolhas">
                        <p class="quinze_faseQuatro animacao">1 - Conversar com ele e descobrir mais sobre sua história.</p>
                        
                        <p class="quinze_faseQuatro animacao">2 - Parar de falar com ele I-M-E-D-I-A-T-A-M-E-N-T-E.</p>
                    </div>
                    <button class="botaoEscolhas_button" onclick="faseQuatro()">Responder</button>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
        <script src="../../js/personagem_eve.js"></script>
    </body>
</html>