<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_eve.css">
        <title>Quarta Fase - Eve</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/alvesarah">Github</a></li>
            </ul>
        </header>

        <audio autoplay loop controls id="playAudio">
            <source src="../../trilha_sonora/musica_lofi.mp3">
        </audio>

        <main class="main">
            <div class="background_faseQuatro">
                <div class="teste_padrao">
                    a
                </div>
                <section class="main__section tamanho_padrao">
                    <p class="um_faseQuatro animacao">... vou ler só um pouquinho, vai que eu consiga algo lendo.</p>

                    <p class="dois_faseQuatro animacao">Dia 25 de outubro, 2015</p>

                    <p class="tres_faseQuatro animacao">Querido diário,</p>
                    
                    <p class="quatro_faseQuatro animacao">Tem um garoto novo na minha sala, e toda a situação é muito estranha, ele entrou no meio do semestre do último ano,</p>
                    <p class="quatroCont_faseQuatro animacao">e isso é no mínimo incomum, fui procurar informações sobre ele na sala do diretor quando o mesmo não estava e ele</p>
                    <p class="quatroContDois_faseQuatro animacao">simplesmente não tem histórico algum!</p>
                    
                    <p class="cinco_faseQuatro animacao">Sem pais, sem escolas anteriores... Nada!</p>
                    
                    <p class="seis_faseQuatro animacao">Eu não imagino como ele conseguiu entrar na escola e nem vou falar o quanto a habilidade dele é especial, nunca vi</p>
                    <p class="seisCont_faseQuatro animacao">habilidade parecida, ele parece ser poderoso. Muito suspeito...</p>
                    
                    <p class="sete_faseQuatro animacao">Vou ficar de olho nele.</p>
                    
                    <a href="./quartaFaseCont_eve.html">clique aqui para continuar</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>