<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_eve.css">
        <title>Quinta Fase - Eve</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <audio autoplay loop controls id="playAudio">
            <source src="../../trilha_sonora/musica_lofi_parte_tres.mp3">
        </audio>

        <main class="main">
            <div class="background_faseCinco">
                <div class="teste_padrao">
                    a
                </div>
                <section class="main__section tamanho_padrao">
                    <p class="um_faseCinco animacao">Já sei! Vou continuar conversando com ele e descobrir mais sobre seu passado.</p>

                    <p class="dois_faseCinco animacao">Dia 20 de novembro, 2015</p>

                    <p class="tres_faseCinco animacao">Querido diário,</p>
                    
                    <p class="quatro_faseCinco animacao">Acho que estou começando a gostar daquele garoto que entrou na minha sala, o nome dele é Draken e ele não é tão idiota</p>
                    <p class="quatroCont_faseCinco animacao">assim.</p>
                    
                    <p class="cinco_faseCinco animacao">Ele me trata muito bem e sempre que estou do lado dele, eu me sinto feliz. Acho que ele sente a mesma coisa por mim.</p>
                    
                    <p class="seis_faseCinco animacao">Decidi que vou confessar meu amor, espero ser correspondida! Me deseje sorte!</p>
                    <a href="./quintaFaseCont_eve.html">clique aqui para continuar</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>