<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_eve.css">
        <title>Quinta Fase - Eve</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <main class="main">
            <section class="main__section">
            
                <p class="vinteOito_faseCinco animacao">Acordo abruptamente e quando tento me levantar da cama, caio com os joelhos no chão. Ali ajoelhada aos prantos, lembro</p>
                <p class="vinteOitoCont_faseCinco animacao">o que aconteceu no dia do encontro e lembro das últimas palavras dele.</p>
                
                <p class="vinteNove_faseCinco animacao">Aquele idiota...</p>
                
                <p class="trinta_faseCinco animacao">Sempre querendo o controle da situação.</p>
                
                <p class="trintaUm_faseCinco animacao">Sempre com esse senso de proteção.</p>
                
                <p class="trintaDois_faseCinco animacao">Eu acho que ele não tinha entendido realmente que se a vida dele não fazia sentido sem mim, a minha também não</p>
                <p class="trintaTres_faseCinco animacao">faz sentido sem ele.</p>
                
                <p class="trintaQuatro_faseCinco animacao">Estou perdida e só um nome vem em minha cabeça nesse momento de luto, o nome do culpado disso tudo, Ryon.</p>
                
                <p class="trintaCinco_faseCinco animacao">Eu preciso...</p>
                
                <div class="botaoEscolhas">
                    <p class="trintaSeis_faseCinco animacao">1 - Me vingar de Ryon.</p>
                    
                    <p class="trintaSeis_faseCinco animacao">2 - Pensar com clareza e ver se vale a pena correr o risco.</p>
                </div>

                <button onclick="faseCinco()">Decisão</button>
            </section>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
        <script src="../../js/personagem_eve.js"></script>
    </body>
</html>