<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_eve.css">
        <title>Quinta Fase - Eve</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <audio autoplay loop controls id="playAudio">
            <source src="../../trilha_sonora/musica_lofi_parte_cinco.mp3">
        </audio>

        <main class="main">
            <div class="background_faseCincoContDois">
                <div class="teste_menor">
                    a
                </div>
                <section class="main__section tamanho_menor">
                    <p class="treze_faseCinco animacao">Dia 25 de novembro, 2021</p>
                    
                    <p class="quatorze_faseCinco animacao">Querido diário,</p>
                    
                    <p class="quinze_faseCinco animacao">Eu e Draken temos um encontro hoje!</p>
                    
                    <p class="dezesseis_faseCinco animacao">Vamos comemorar 5 anos de namoro, estou muito animada.</p>
                    
                    <p class="dezessete_faseCinco animacao">Tenho pensado a algum tempo, e sinto que estou preparada para dar o próximo passo na nossa relação, eu vou propor</p>
                    <p class="dezesseteCont_faseCinco animacao">a mão dele no encontro de hoje.</p>
                    
                    <p class="dezoito_faseCinco animacao">Depois conto como foi e se ele aceitou.</p>

                    <a href="./quintaFaseContTres_eve.html">clique aqui para continuar</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>