<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_eve.css">
        <title>Quinta Fase - Eve</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/alvesarah">Github</a></li>
            </ul>
        </header>

        <audio autoplay loop controls id="playAudio">
            <source src="../../trilha_sonora/musica_triste2.mp3">
        </audio>

        <main class="main">
            <div class="background_quintaFaseContTres">
                <div class="teste_maior_ainda">
                    a
                </div>
                <section class="main__section tamanho_maior_ainda">
                    <p class="dezenove_faseCinco animacao">Essa é a última anotação do diário e tem a data de semana passada, para ser mais exata um dia antes de eu acordar</p>
                    <p class="dezenoveCont_faseCinco animacao">no hospital.</p>
                    
                    <p class="vinte_faseCinco animacao">Olho para a janela e percebo que já escureceu, olho para o relógio e já era meia noite, estava tão imersa na leitura que</p>
                    <p class="vinteCont_faseCinco animacao">nem vi o tempo passando.</p>
                    
                    <p class="vinteUm_faseCinco animacao">Decido ir dormir pois já estava tarde, amanhã resolveria a questão do diário e tentaria descobrir de quem ele é e</p>
                    <p class="vinteUmCont_faseCinco animacao">porque estava na minha casa.</p>
                    
                    <p class="vinteDois_faseCinco animacao">Fecho os olhos e logo sou levada para outra dimensão, esse garoto dos meus sonhos aparece, ele estende a mão sorridente,</p>
                    <p class="vinteDoisCont_faseCinco animacao">mas alguma coisa mudou, eu consigo me ver também. Eu pego sua mão e o abraço, ele retribui e da um beijo no topo</p>
                    <p class="vinteDoisContDois_faseCinco animacao">de minha cabeça.</p>
                    
                    <p class="vinteTres_faseCinco animacao">Eu pareço estar tão feliz, não lembro de ser feliz desse jeito.</p>
                    
                    <p class="vinteQuatro_faseCinco animacao">Ele sussurra algo em meu ouvido que não consigo ouvir, mas o que sai da minha boca eu ouço.</p>
                    
                    <p class="vinteCinco_faseCinco animacao">"Para com isso, Draken."</p>
                    
                    <p class="vinteSeis_faseCinco animacao">E como se isso fosse a chave de uma porta trancada, começo a me recordar de todos os momentos ao seu lado.</p>

                    <p class="vinteSete_faseCinco animacao">Eu sou a dona do diário e o Draken era meu namorado.</p>
                    
                    <a href="./quintaFaseContQuatro_eve.html">clique aqui para continuar</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>