<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_eve.css">
        <title>Quinta Fase - Eve</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/alvesarah">Github</a></li>
            </ul>
        </header>

        <audio autoplay loop controls id="playAudio">
            <source src="../../trilha_sonora/musica_lofi_parte_quatro.mp3">
        </audio>

        <main class="main">
            <div class="background_faseCincoCont">
                <div class="teste_menor">
                    a
                </div>
                <section class="main__section tamanho_menor">
                    <p class="sete_faseCinco animacao">Dia 21 de novembro, 2016</p>
                    
                    <p class="oito_faseCinco animacao">Querido diário,</p>
                    
                    <p class="nove_faseCinco animacao">Vai fazer um ano que estou namorando o Draken. Nunca estive tão feliz.</p>
                    
                    <p class="dez_faseCinco animacao">Quando estava sozinha já me sentia completa, mas com ele... Eu estou transbordando.</p>
                    
                    <p class="onze_faseCinco animacao">Sinto que posso fazer qualquer coisa quando estamos juntos e me sinto segura.</p>
                    
                    <p class="doze_faseCinco animacao">Acho que estou amando como nunca amei alguém.</p>
                    <a href="./quintaFaseContDois_eve.html">clique aqui para continuar</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>