<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_eve.css">
        <title>Segunda Fase - Eve</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/alvesarah">Github</a></li>
            </ul>
        </header>

        <audio autoplay loop controls id="playAudio">
            <source src="../../trilha_sonora/musica_triste2_parte_dois.mp3">
        </audio>

        <main class="main">
            <div class="background_faseDois">
                <div class="teste_padrao">
                    a
                </div>
                <section class="main__section tamanho_padrao">
                    <p class="um_faseDois animacao">Muitas imagens embaçadas e sem nexo algum, o fato é que durante o sonho eu consigo ver tudo com clareza, mas logo</p>
                    <p class="umCont_faseDois animacao">quando acordo, eu esqueço tudo e só tenho a sensação do meu coração afundando.</p>

                    <p class="dois_faseDois animacao">Me esforço mais um pouco e vejo um garoto, ele está me estendendo a mão e um sorriso brinca em seus lábios. Eu nunca</p>
                    <p class="doisCont_faseDois animacao">o vi, mas sinto que ele é familiar.</p>

                    <p class="tres_faseDois animacao">Abro os olhos e meu coração está disparado. Eu definitivamente preciso encontrar o motivo para todas essas emoções.</p>

                    <p class="quatro_faseDois animacao">Fecho os olhos e me concentro novamente, dessa vez estou em outro ambiente e ouço vozes de fundo, porém não consigo</p>
                    <p class="quatroCont_faseDois animacao">ver nada, forço mais minha mente e consigo captar ainda com a visão embaçada que estou na sala da minha casa e tem</p>
                    <p class="quatroContDois_faseDois animacao">duas figuras grandes em minha frente.</p>

                    <p class="cinco_faseDois animacao">Abro os olhos novamente e decido...</p>

                    <div class="botaoEscolhas">
                        <p class="seis_faseDois animacao">1 - Procurar alguma evidência na sala.</p>

                        <p class="seis_faseDois animacao">2 - Tentar achar alguma evidência no meu quarto.</p>
                    </div>
                    <button class="botaoEscolhas_button" onclick="faseDois()">Responder</button>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
        <script src="../../js/personagem_eve.js"></script>
    </body>
</html>