<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_eve.css">
        <title>Terceira Fase - Eve</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/alvesarah">Github</a></li>
            </ul>
        </header>

        <audio autoplay loop controls id="playAudio">
            <source src="../../trilha_sonora/bored_musica_calma.mp3">
        </audio>

        <main class="main">
            <div class="background_faseTres">
                <div class="teste_padrao">
                    a
                </div>
                <section class="main__section tamanho_padrao">
                    <p class="um_faseTres animacao">...procurar alguma evidência na sala.</p>

                    <p class="dois_faseTres animacao">Começo a procurar na estante da sala, porém nada lá parece me chamar atenção, então procuro nas gavetas onde</p>
                    <p class="doisCont_faseTres animacao">ficam uns papéis, estou quase perdendo a esperança, sento no chão ao lado da gaveta e apoio minha cabeça em minha</p>
                    <p class="doisContDois_faseTres animacao">mão, frustrada.</p>

                    <p class="tres_faseTres animacao">Porém quando eu faço isso e tenho a visão do meu sofá, consigo ver o que parece ser um caderno, em baixo das</p>
                    <p class="tresCont_faseTres animacao">almofadas do sofá. Me levanto e pego esse caderno nas mãos, o abro e vejo escrito na primeira página "Diário".</p>

                    <p class="quatro_faseTres animacao">Isso é estranho, eu não me lembro de ter um diário...</p>

                    <p class="cinco_faseTres animacao">Eu acho que...</p>

                    <div class="botaoEscolhas">
                        <p class="seis_faseTres animacao">1 - É melhor não lê-lo, vai que não é meu.</p>

                        <p class="seis_faseTres animacao">2 - Vou ler só um pouquinho.</p>
                    </div>
                    <button class="botaoEscolhas_button" onclick="faseTres()">Responder</button>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
        <script src="../../js/personagem_eve.js"></script>
    </body>
</html>