<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_ryon.css">
        <title>Fim - Ryon</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <main class="main">
            <div class="background_fim">
                <div class="teste_padrao">
                    a
                </div>
                <section class="main__section tamanho_padrao">
                    <p class="main__pUm-fim animacao">Não foi uma boa ideia ter vindo aqui.</p>

                    <p class="main__pDois-fim animacao">Depois de ter invadido sua casa e ter tentando tortura-la, ela teve uma explosão súbita de poder e agora eu estou</p>
                    <p class="main__pDoisCont-fim animacao">sendo morto por suas mãos, enquanto sua mão aperta meu pescoço e sinto meu corpo todo ser eletrocutado.</p>
                    
                    <p class="main__pTres-fim animacao">Vejo a expressão em seu rosto, parece que não dormiu e seus olhos demonstram tristeza e dor. Imaginava que eu</p>
                    <p class="main__pTresCont-fim animacao">morreria em breve, mas não desse jeito e não hoje. Por fim penso que não tem um jeito melhor de morrer se não nas mãos</p>
                    <p class="main__pTresContDois-fim animacao">de uma pessoa que necessita de um livramento.</p>
                    
                    <p class="main__pQuatro-fim animacao">Nesse momento não sinto medo e paro de tentar resistir ao que esta por vir, amoleço o corpo e espero enfim a morte.</p>
                    
                    <p class="main__pCinco-fim animacao">Mas ela em um súbito me larga no chão e eu caio, não entendo o porque ela fez isso e com a visão turva a olho.</p>
                    
                    <p class="main__pSeis-fim animacao">Ela está parada e ainda emite luz, porém ela olha para baixo e vejo lágrimas escorrerem por seu rosto.</p>
                    <a href="./fimCont_ryon.html">clique aqui para continuar</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>