<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_ryon.css">
        <title>Fim - Ryon</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <audio autoplay loop controls id="playAudio">
            <source src="../../trilha_sonora/musica_triste_parte_dois.mp3">
        </audio>

        <main class="main">
            <div class="background_fimCont">
                <div class="teste_padrao">
                    a
                </div>
                <section class="main__section tamanho_padrao">
                    <p class="main__pUm-fimCont animacao">- Vai embora daqui! Não volte mais. - Ela diz, então me levanto ainda curvado e ando para a saída apoiando nas paredes.</p>
                    
                    <p class="main__pDois-fimCont animacao">Saio de sua casa e sinto que a qualquer momento possa cair.</p>
                    
                    <p class="main__pTres-fimCont animacao">Estou cuspindo sangue e sinto minha pele queimar por completo.</p>
                    
                    <p class="main__pQuatro-fimCont animacao">Caio ajoelhado no chão em frente a sua casa e pela primeira vez desde muito tempo, eu choro. Sem rumo e me sentindo</p>
                    <p class="main__pQuatroCont-fimCont animacao">uma pessoa horrível, quero acreditar que eu consiga ser uma pessoa melhor.</p>
                    
                    <p class="main__pCinco-fimCont animacao">Estava tão acostumado a fazer o mal que nunca pensei na possibilidade de fazer o bem, se eu pudesse ter ao menos</p>
                    <p class="main__pCincoCont-fimCont animacao">mais uma chance.</p>
                    
                    <p class="main__pSeis-fimCont animacao">Só mais uma chance...</p>
                    <a href="../escolha_personagem.html">Selecionar outro personagem</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>