<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_ryon.css">
        <title>Introdução - Ryon</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <main class="main">
            <section class="main__section">
                <p class="main__pUm-introducao animacao">Saio de sua casa curvado e sinto que a qualquer momento possa cair.</p>

                <p class="main__pDois-introducao animacao">Estou cuspindo sangue e sinto minha pele queimar por completo.</p>
                
                <p class="main__pTres-introducao animacao">Caio ajoelhado no chão em frente a sua casa e pela primeira vez desde muito tempo, eu choro. Sem rumo e me sentindo</p>
                <p class="main__pTresCont-introducao animacao">uma pessoa horrível, quero acreditar que eu consiga ser uma pessoa melhor.</p>
                
                <p class="main__pQuatro-introducao animacao">Estava tão acostumado a fazer o mal que nunca pensei na possibilidade de fazer o bem, se eu pudesse ter</p>
                <p class="main__pQuatroCont-introducao animacao">ao menos mais uma chance.</p>
                <a href="./primeiraFase_ryon.html">clique aqui para continuar</a>
            </section>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>