<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_ryon.css">
        <title>Primeira Fase - Ryon</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <main class="main">
            <div class="background_faseDois">
                <div class="teste_maior">
                    a
                </div>
                <section class="main__section tamanho_maior">
                    <p class="main__pUm-faseUm animacao">Acordo para mais um dia, minha cabeça está pesada e me sinto indisposto. Desde que acordei um dia no hospital</p>
                    <p class="main__pUmCont-faseUm animacao">de outra cidade sem saber o que aconteceu, ando tendo sonhos que talvez tenham relação com esse dia. Sempre</p>
                    <p class="main__pUmContDois-faseUm animacao">tenho o sentimento que tem algo faltando.</p>

                    <p class="main__pDois-faseUm animacao">Uma vertigem sobe por minha garganta e corro para o banheiro, vomitando em seguida. Aquele dia no hospital,</p>
                    <p class="main__pDoisCont-faseUm animacao">me falaram que eu estava morrendo e que eu teria poucos dias de vida.</p>

                    <p class="main__pTres-faseUm animacao">Eu acho que esse tal de carma realmente existe. Como fui uma pessoa má, eu vou ser punido com a morte.</p>

                    <p class="main__pQuatro-faseUm animacao">Escovo meus dentes após vomitar e me olho no espelho, eu estou péssimo. Tenho olheiras e estou magro.</p>

                    <p class="main__pCinco-faseUm animacao">Sinto falta dos velhos tempos, quando eu tinha um amigo e nós compartilhávamos nossas dores,</p>
                    <p class="main__pCincoCont-faseUm animacao">foi a única vez que consegui me sentir vivo, sem a pressão do meu pai sobre mim.</p>

                    <p class="main__pSeis-faseUm animacao">Mas isso acabou a muito tempo, ele foi embora, fugiu de seu pai controlador e me deixou.</p>

                    <p class="main__pSete-faseUm animacao">Para tentar decifrar os sonhos, eu preciso...</p>

                    <div class="botaoEscolhas">
                        <p class="main__pOito-faseUm animacao">1 - Voltar para a cidade onde eu acordei no hospital.</p>

                        <p class="main__pOito-faseUm animacao">2 - Procurar o amigo que me abandonou.</p>
                    </div>
                    <button class="botaoEscolhas_button" onclick="faseUm()">Responder</button>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
        <script src="../../js/personagem_ryon.js"></script>
    </body>
</html>