<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_ryon.css">
        <title>Segunda Fase - Ryon</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/alvesarah">Github</a></li>
            </ul>
        </header>

        <audio autoplay loop controls id="playAudio">
            <source src="../../trilha_sonora/bored_parte_dois.mp3">
        </audio>

        <main class="main">
            <div class="background_faseDois">
                <div class="teste_maior">
                    a
                </div>
                <section class="main__section tamanho_maior">
                    <p class="main__pUm-faseDois animacao">Decido voltar para a cidade onde eu acordei no hospital.</p>

                    <p class="main__pDois-faseDois animacao">A viagem é relativamente tranquila, tirando as vertigens e tonturas. Os médicos no hospital falaram que meu</p>
                    <p class="main__pDoisCont-faseDois animacao">poder está me matando. Que meu corpo não está mais conseguindo o controlar e isso está me enfraquecendo.</p>
                    
                    <p class="main__pTres-faseDois animacao">Saio da estação e não sei ao certo o próximo passo a seguir para conseguir entender os sonhos e  o que ele quer me mostrar.</p>
                    
                    <p class="main__pQuatro-faseDois animacao">Eles tem relação ao meu falecido pai, ele fala algo no meu ouvido, depois sou levado para uma casa desconhecida</p>
                    <p class="main__pQuatroCont-faseDois animacao">e tem uma garota que nunca vi, em minha frente.</p>
                    
                    <p class="main__pCinco-faseDois animacao">Meu pai morreu á duas semanas, por mais que eu estivesse aliviado por uma pressão ter saído dos meus ombros,</p>
                    <p class="main__pCincoCont-faseDois animacao">ainda me sinto triste. Afinal de contas, ele ainda é meu pai.</p>
                    
                    <p class="main__pSeis-faseDois animacao">No leito de morte ele me pediu algo, só que não consigo me lembrar o que era. E sinto que isso possa ter relação com</p>
                    <p class="main__pSeisCont-faseDois animacao">todo o resto.</p>
                    
                    <p class="main__pSete-faseDois animacao">Ando sem rumo pela cidade tentando ver se vejo algo familiar, paro em um ponto que tem dois caminhos. Eles são...</p>
                    
                    <div class="botaoEscolhas">
                        <p class="botaoEscolha_faseDois animacao">1 - Uma rua que parece estranhamente familiar.</p>
                        
                        <p class="botaoEscolha_faseDois animacao">2 - O caminho para o hospital.</p>
                    </div>
                    <button class="botaoEscolhas_button" onclick="faseDois()">Responder</button>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
        <script src="../../js/personagem_ryon.js"></script>
    </body>
</html>