<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_ryon.css">
        <title>Terceira Fase - Ryon</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <audio autoplay loop controls id="playAudio">
            <source src="../../trilha_sonora/musica_misterio_parte_dois.mp3">
        </audio>

        <main class="main">
            <div class="background_faseTresCont">
                <div class="teste_padrao">
                    a
                </div>
                <section class="main__section tamanho_padrao">
                    <p class="main__pSete-faseTres animacao">O fato é que, quem o matou foi um herói conhecido e a mando de meu pai, tinha que matar quem esse herói mais amava,</p>
                    <p class="main__pSeteCont-faseTres animacao">essa pessoa é a filha dele, Eve Hirawa.</p>
                    
                    <p class="main__pOito-faseTres animacao">Começo a perceber que esses sonhos são lembranças e entendo o porquê de eu tê-las esquecido, esse meu amigo de infância,</p>
                    <p class="main__pOitoCont-faseTres animacao">Draken quando me largou, veio para essa cidade e estava atualmente namorando com a garota que eu devia matar.</p>
                    
                    <p class="main__pNove-faseTres animacao">Não queria que nada disso tivesse acontecido com ele, mas ele se meteu e aconteceu, e agora chegou a um ponto que não</p>
                    <p class="main__pNoveCont-faseTres animacao">tem mais volta.</p>
                    
                    <p class="main__pDez-faseTres animacao">Tenho que...</p>
                    
                    <div class="botaoEscolhas">
                        <p class="botaoEscolhaFaseTres animacao">1 - Terminar o que começou.</p>
                    
                        <p class="botaoEscolhaFaseTres animacao">2 - Deixar isso para lá e não vingar o pai.</p>
                    </div>
                    <button class="botaoEscolhas_button" onclick="faseTres()">Responder</button>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
        <script src="../../js/personagem_ryon.js"></script>
    </body>
</html>