<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../css/introducao.css">
        <link rel="stylesheet" href="../../css/fases_ryon.css">
        <title>Terceira Fase - Ryon</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="../index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="../sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <main class="main">
            <div class="background_faseTres">
                <div class="teste_maior">
                    a
                </div>
                <section class="main__section tamanho_maior">
                    <p class="main__pUm-faseTres animacao">Decido seguir o caminho da rua que acho extremamente familiar, observo-a e tento entender o por que essa rua</p>
                    <p class="main__pUmCont-faseTres animacao">me traz um sentimento tão ruim.</p>

                    <p class="main__pDois-faseTres animacao">Já está tarde e ainda não descobri nada, talvez eu tenha que deixar isso para lá.</p>
                    
                    <p class="main__pTres-faseTres animacao">Me viro com o objetivo de voltar para a estação e sinto um aperto no coração começo a ter alguns flashes que parecem</p>
                    <p class="main__pTresCont-faseTres animacao">ser do sonho que ando tendo, nele eu estou armado e ando para a casa do final da rua.</p>

                    <p class="main__pQuatro-faseTres animacao">Me sinto impulsionado a fazer isso. Mas por que?</p>
                    
                    <p class="main__pCinco-faseTres animacao">Me esforço para lembrar mais do sonho e volto ao dia que meu pai morreu. As lembranças me atingem com força</p>
                    <p class="main__pCincoCont-faseTres animacao">e tonteio com a surpresa.</p>
                    
                    <p class="main__pSeis-faseTres animacao">No dia em que meu pai morreu, ele me falou quem foi seu assassino e um nome, o nome de uma pessoa que teria que matar</p>
                    <p class="main__pSeisCont-faseTres animacao">para me vingar da morte dele.</p>
                    <a href="./terceiraFaseCont_ryon.html">clique aqui para continuar</a>
                </section>
            </div>
        </main>
        
        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>