<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/introducao.css">
        <link rel="stylesheet" href="../css/sobre.css">
        <title>Our Pass</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="./index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="./universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="./sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/alvesarah">Github</a></li>
            </ul>
        </header>

        <main class="main">
            <section class="main__section">
                <h1 class="main__h1">Sobre o Projeto</h1>
                <div class="main__div">
                    <h2 class="main__h2">Projeto final do módulo 1 da Resilia!</h2>
                    
                    <h3 class="main__h3">Proposta</h3>
                    <p>Fazer um jogo com uma temática especifica, onde o usuário que estiver jogando tenha escolhas durante a trajetória da história, levando em consideração o personagem escolhido. Essas escolhas podem levá-lo a vitória ou ao game over.</p>
                    
                    <h3 class="main__h3">Como fiz</h3>
                    <p>Durante o desenvolvimento do jogo, estabeleci metas e planejei a maneira como ia faze-lo, utilizei o trello para me organizar e separei as tarefas de acordo com as prioridades "urgência", "impactos" e "complexidades". Quando surgia dúvida em determinado aspecto, eu tentava achar alguma solução que conseguisse entender no google, caso não achasse, eu procurava ajuda no servidor do discord. Eu foquei em primeiro lugar, fazer a história, depois o layout das primeira páginas e após ter feito isso, comecei a passar minha história a limpo no arquivo html respectivo. Tive dificuldade para conseguir deixar o efeito da maquina de escrever certo, e o que me incomodou é que ele gerou muito código no CSS.</p>
                    
                    
                    <h3 class="main__h3">Minha Experiência</h3>
                    <p>Acredito que essa tenha sido a experiência mais legal que tive em relação a programação. Ver a evolução que tive aos poucos foi gratificante e fiquei feliz com o resultado do meu projeto.</p>
                </div>
                <div class="main__div social">
                    <h6 class="main__h6">Redes Sociais</h6>
                    <ul class="main__ul">
                        <li class="main__li"><a href="https://www.linkedin.com/in/sarahalvesoliveira/" target="_blank"><img class="img_linkedin" src="../imagens/icone_rede_social/linkedin.png" alt="logo linkedin"></a></li>
                        <li class="main__li"><a href="https://github.com/sashamoon" target="_blank"><img class="img_github" src="../imagens/icone_rede_social/github.png" alt="logo github"></a></li>
                    </ul>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>