<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/introducao.css">
        <link rel="stylesheet" href="../css/universo.css">
        <title>Our Pass</title>
    </head>
    <body>
        <header class="header">
            <h1 class="header__titulo">Bokura No Kako [ 僕らの過去 ]</h1>
            <ul class="header__ul">
                <li class="header__ul-li"><a class="header__ul__li-a" href="./index.html">Home</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="./universo.html">Universo</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="./sobre.html">Sobre</a></li>
                <li class="header__ul-li"><a class="header__ul__li-a" href="https://github.com/sashamoon">Github</a></li>
            </ul>
        </header>

        <main class="main">
            <section class="main__section">
                <h1 class="main__h1">&#10024; Universo &#10024;</h1>
                <p class="main__pUm">Tudo começou na cidade de QuingQuing na China, saiu a noticia de que nasceu um bebe que emitia luz desde então super poderes apareceram em vários lugares e o tempo foi passando sem que identificassem a causa. De repente, o sobrenatural se tornou normal e os sonhos realidade, o mundo se tornou uma sociedade super-humana e cerca de 80% da população mundial apresenta algum poder especial. Neste mundo mergulhado no caos, a profissão que todos sonhavam e admiravam, se tornou o centro das atenções. E essa profissão é ser herói.</p>

                <p class="main__pDois">Junto com os super poderes veio um aumento nos crimes, enquanto o país avançava lentamente com as drásticas reformas legais, pessoas corajosas começaram a realizar atos heroicos, eles se inspiravam em quadrinhos e defendiam o povo contra o uso de super poderes para o mal. Os heróis foram aceitos pelo público como um trabalho oficial e passaram a ser pagos pelo governo de acordo com seu desempenho e foram ganhando a empatia das massas.</p>
                
                <div class="main__div">
                    <a class="main__a" href="./introducao_sinopse.html"><img class="main__img" src="../imagens/start.gif"></a>
                </div>
            </section>
        </main>

        <footer class="footer">
            <div class="footer__div">
                <h1 class="footer__div-h1">Bokura No Kako [ 僕らの過去 ]</h1>
                <p class="footer__div-copyrigth">Todos os direitos reservados &copy; 2021 Bokura No Kako</p>
            </div>
        </footer>
    </body>
</html>